body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard .card{
    margin-top: 20px;
}

.dashboard  .card .card-header.sensor{
    background-color: #93baff;   
}


.dashboard  .card .card-header.atuador{
    background-color: #ffbf6c;   
}   

.login .container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login img{
    width: 300px;
}

.login .TIform{
    width: 350px;
    padding: 15px;
}

